# intellij idea
*.log
*.iml
*.ipr
*.iws
*.class
.idea
.idea/
.idea/*
target/
target/*

!**/src/main/**/target/
!**/src/test/**/target/
.desktop/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.bsp/

.java-version

